/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Estilo global*/
* {box-sizing:border-box}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

/*Cabecera de la página*/
header {
    background:linear-gradient(darkblue,rgb(12, 122, 247));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 2;
}

header img {
    width: 400px;
}

header div {
    max-width: 100%;
    width:40%;
}

.indica nav a{
    color:white;
    font-size: 25px;
    font-family: Outfit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.indica nav a:hover{
    color: rgb(236, 178, 30);
}

.indica {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    margin-right: 55px;
}

nav{
    margin-right: 40px;
}

/*Icono carrito de la compra (Oculto, pendiente de pruebas)*/
/*
.indica button{
    background-color: gold;
    border-radius: 200px;
    border: none; 
}

.indica button img{
    width: 50px;
    height: 50px;
}
*/

/*Main y cuerpo del documento*/
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins';
    font-size: 50px;
    background:linear-gradient(180deg,rgb(12, 122, 247), white);
    text-align: center;
    padding: 50px 10px;
    margin: 0;
    color: rgb(255, 255, 255);
}

main section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 0, 20px, 0, 20px;
    justify-content: space-evenly;
    row-gap: 30px;
    padding-top: 10px;
}

.carrito {
    grid-column: 4;
    grid-row: 1 / span 2;
    width: 400px;
    height: 600px;
    position: sticky;
    top: 20%;
    z-index: 2;
    background-color: rgb(12, 122, 247);
    padding: 0 20px 0 20px;
    border-radius: 20px;
    color: white;
    font-family: Outfit;
}

.titulocarrito {
    display: flex;
    align-items: center;
}

.carrito h2{
    font-family: Poppins;
    font-size: 30px;
    color: white;
}

.carrito img {
    width: 50px;
    height: 50px;
}

.carrito ul {
    padding: 10px;
    display: grid;
    row-gap: 10px;
}

.carrito ul li {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito ul li button {
    background-color: transparent;
    border: transparent;
    font-weight: bolder;
    color:white;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.carrito ul li button:hover {
    background-color: transparent;
    border: transparent;
    font-weight: bolder;
    color:red;
    font-size: 15px;
}

.carrito input {
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: brown;
    border: transparent;
    font-size: 14px;
    font-family: Poppins;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.carrito input:hover {
    background-color: rgb(216, 0, 0);
}

.carrito button {
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 161, 22);
    border: transparent;
    font-size: 14px;
    font-family: Poppins;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.carrito button:hover {
    background-color: rgb(69, 218, 10);
}

.total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: rgb(253, 194, 0);
}

.botonescontador {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

.contador {
    width: 40px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*Cajas de productos*/
.cajas {
    font-family: Poppins;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cajas:hover {
    box-shadow: 0px 0px 5px 5px rgb(185, 185, 185);
    transform: translateY(-1px) scale(1.05);
}

.cajas h3 {
    font-size: 25px;
}

.cajas img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.cajas p {
    width: 300px;
    text-align: justify;
}

.centrar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.centrar input{
    background-color: rgb(140, 236, 236);
    font-size: 18px;
    font-family: Outfit;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.centrar input:hover{
    background-color: rgb(46, 105, 233);
}

.llamativo {
    color:rgb(253, 194, 0);
    font-size: 20px;
    margin: 0;
}

.llamativo span {
    font-weight: bolder;
    font-style: italic;
    font-family: Outfit;
}

@media (max-width: 1280px)
{
    main section {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        width: 100%;
        margin: 0, 20px, 0, 20px;
        justify-content: space-evenly;
    }

    .carrito {
        grid-column: 3;
        grid-row: 1 / span 2;
    }
}